html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    text-align: center;
}

#container {
    max-width: 320px;
    flex-direction: column;
    padding: 50px;
    border: 1px solid black;
    border-radius: 6px;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    width: 200px;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
    border: 0;
    font-family: 'Rubik', sans-serif;
   
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    width: 224px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    border: 0;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px 10px;
 
    
}

ul li {
    
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    width: min-content !important;
    padding: 20px 20px;
    flex: 1 1 auto;
    border-radius: 5px;

   
}

